@CHARSET "UTF-8";
.login-box {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 700px;
	height: 410px;
	margin-left: -350px;
	margin-top: -205px;
	background-color: #414141;
}
.login-box .login-inner-box{
	background-color: #1f1d1d;
	padding:35px 0 25px;
	border-color: #414141;
}
.login-box .login-inner-box .input-group-addon{
	background-color: #292929;
	border-color: #292929;
	color: #d8d9da;
}
.login-box .login-inner-box .form-control{
	background-color: #333;
	border-color: #292929;
	color: #d8d9da;
}
.login-box .col-md-3{
	width: 210px;
}
.login-box .col-md-6{
	width: 280px;
}

.login-box .header{
	height:174px;
	max-height: 174px;
	text-align: center;
	margin-bottom: 28px;
}
.login-box .footer{
	background-color: #414141;
	padding: 8px;
	color: #fff;
	text-align: center;
	font-size: 12px;
}
button.btn-inverse{
    color: #e3e3e3;
    display: block;
    width: 100%;
    background-color: #292929;
    border-color: #272727;
    box-shadow: -1px -1px 0 0 rgba(255,255,255,.1), 1px 1px 0 0 rgba(0,0,0,.3);
}

button.btn-inverse.active, .btn-inverse.disabled, .btn-inverse:active, .btn-inverse:focus, .btn-inverse:hover, .btn-inverse[disabled] {
    color: #e3e3e3;
    background-image: none;
    background-color: #292929;
}
	