<div ng-controller="UserController" ng-cloak>
	<ol class="breadcrumb">
		<li>系统管理</li>
		<li class="active">用户管理</li>
	</ol>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<form id="form1" autocomplete="off" class="form-inline">
					<div class="row" style="margin-bottom: 5px;">
						<div class="col-md-12">
							<div class="input-group input-group-sm">
								<span class="input-group-addon">选择角色</span>
								<div class="input-group-default">
									<ui-select ng-model="searchForm.data.authorities[0]" theme="bootstrap" title="{{$select.selected.alias}}">
										<ui-select-match placeholder="选择角色">{{$select.selected.alias}}</ui-select-match>
										<ui-select-choices position="down" repeat="item in searchForm.roles track by $index">
											<div ng-bind-html="item.alias"></div>
										</ui-select-choices> 
									</ui-select>
								</div>
							</div>
							<div class="input-group input-group-sm">
								<span class="input-group-addon">用户名称</span>
								<input type="text" class="form-control" name="username" ng-model="searchForm.data.username" placeholder="请输入用户名称" style="min-width: 120px;">
							</div>
							<div class="input-group input-group-sm">
								<span class="input-group-addon">用户姓名</span>
								<input type="text" class="form-control" name="nickname" ng-model="searchForm.data.nickname" placeholder="请输入用户姓名" style="min-width: 120px;">
							</div>
							<div class="input-group input-group-sm">
								<span class="input-group-addon">电话号码</span>
								<input type="text" class="form-control" name="mobile" ng-model="searchForm.data.mobile" placeholder="请输入电话号码" style="min-width: 120px;">
							</div>
							<div class="input-group input-group-sm">
								<span class="input-group-addon">电子邮箱</span>
								<input type="text" class="form-control" name="email" ng-model="searchForm.data.email" placeholder="请输入电子邮箱" style="min-width: 120px;">
							</div>
							<button type="submit" class="btn btn-primary btn-sm hidden-xs" 
								ng-click="searchForm.submit()">
								<span class="glyphicon glyphicon-search"></span>
								<span>查询</span>
							</button>
						</div>
					</div>
					<div class="row hidden-lg" style="margin-bottom: 5px;">
						<div class="col-sm-6">
							<button type="submit" class="btn btn-primary btn-block"
								ng-click="searchForm.submit()">
								<span class="glyphicon glyphicon-search"></span>
								<span>查询</span>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="row" style="margin-bottom:10px;">
			<div class="col-md-12 text-right">
				<div class="btn-group add-btn" role="group" aria-label="...">
					<button type="button" class="btn btn-success btn-sm" ng-click="add()">
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
						<span>新建用户</span>
					</button>
				</div>
			</div>
		</div>
		<pagination2 parameters="searchForm.data" uri="user/page/" id="pagination" items-per-page="10">
			<table class="table table-bordered table-condensed table-hover">
				<thead>
					<tr>
						<td width="110">用户名称</td>
						<td width="110">用户姓名</td>
						<td width="110">手机号码</td>
						<td width="110">电子邮箱</td>
						<td>用户角色</td>
						<td width="130">注册时间</td>
						<td width="160">操作</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in $parent.list track by $index">
						<td ng-bind="item.username"></td>
						<td ng-bind="item.nickname"></td>
						<td ng-bind="item.mobile"></td>
						<td ng-bind="item.email"></td>
						<td>
						<span ng-repeat="role in item.authorities track by $index" ng-bind="role.alias" style="margin-right: 2px;"></span>
						</td>
						<td ng-bind="item.createDate | date:'yyyy-MM-dd HH:mm:ss'"></td>
						<td class="text-center">
							<a href="javascript:;" ng-click="info(item)">详情</a>
							<a href="javascript:;" ng-click="edit(item)">编辑</a>
							<a href="javascript:;" ng-click="remove(item)">删除</a>
						</td>
					</tr>
				</tbody>
			</table>
		</pagination2>
	</div>
	<div dialog="dialog" template-url="module/system/user/dialog.html"></div>
</div>
